/*body,textarea{
    font-size: 0.8rem;
}

body{
    background-color: #ebebeb;
}*/
/*
.clear:after{ display: block; content: ''; font-size: 0; height: 0; clear:both;}
.clear{ *zoom:1;}*/


body{
    background-color: #ebebeb;
    padding: 0 5px 0 5px;
}

/*大容器*/
.g-wrap {
    width: 800px;
    margin: 0 auto;
    position: relative;
}

/*头部*/
.g-hd{
    height: 50px;
    background-color: #538FFF;
    font-size: 1.2rem;
    color: #fff;
    line-height: 50px;
    padding-left:20px;
    border-radius: 6px 6px 0 0;
}

/*消息列表容器*/
.g-bd{
    background-color: #fff;
    border: 1px solid #ccc;
    height: 500px;
    padding: 0 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*底部*/
.g-ft{
  border: 1px solid #ccc;
  margin-bottom: 10px;
}


.g-smile_img {
    z-index: 1;
    background: #ccc none repeat scroll 0 0;
    border: 1px solid #fff;
    height: 50%;
    overflow: auto;
    padding: 3px;
    position: absolute;
    top: 50px;
    width: 98%;
}

.g-smile_img img {
    display: inline-block;
    max-height: 180px;
    max-width: 180px;
    padding: 3px;
}


/*消息列表*/
.m-msg_item {
    margin: 10px 0 10px 0;
}

/*用户消息*/
.m-msg_item .user-info{
    margin-left: 4px;
    margin-bottom: 10px;
}

.m-msg_item .user-info .sendtime{
    color:#999;
}

.m-msg_item .user-info .nickname{
    color: #538FFF;
    margin-right: 10px;
}

.m-msg_item .msg-body{
    width: 100%;
    position: relative;
}

.m-msg_item .msg-body span {
    /*border:1px solid #ccc;*/
    color: #1f2702;
    padding:5px;
    border-radius: 6px;
    display: inline-block;
    line-height: 20px;
    margin-left: 14px;
    overflow-x: hidden;
    max-width: 90%;
}

.m-msg_item .msg-body span img {
    max-width: 100%;
    margin:3px;
}

.m-msg_item .msg-body .smile{
    max-width: 180px;
    max-height: 180px;
}

.m-msg_item .msg-body .imgbase64{
    max-width: 100%;
    max-height: 1200px;
}

/*他人的消息*/
.m-msg_item .other span{
    background-color: #e9e9e9;
}

.m-msg_item .other .triangle-1,.m-msg_item .other .triangle-2{
    border-bottom-color: #e9e9e9;
}

.m-msg_item .other .triangle-2 {
    border-bottom-color: #e9e9e9;
}

/*自己的消息*/
.m-msg_item .self span{
    background-color: #a2e65b;
}

.m-msg_item .self .triangle-1,.m-msg_item .self .triangle-2{
    border-bottom-color: #a2e65b;
}

.m-msg_item .self .triangle-2 {
    border-bottom-color: #a2e65b;
}

/*系统消息*/
.m-msg_item .sys{
    text-align: center;
}

.m-msg_item .sys span{
    background-color: #538FFF;
    border-radius: 6px;
    color: #fff;
    display:inline-block;
    padding: 4px 5px;
}

/*三角按钮*/
.m-msg_item .triangle-1,.main .triangle-2 {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-width: 6px 6px 8px 6px;
    border-style: solid;
    border-color: transparent;
    position: absolute;
    left: 18px;
    border-bottom-color: #ccc;
    top: -14px;
}

.m-msg_item .triangle-2 {
    top: -12px;
    border-bottom-color: #fff;
}

.m-menu{
    margin-top: 5px;
    background-color: #ebebeb;
}

.m-menu .clear,
.m-menu .smile,
.m-menu .send,
.m-menu .scissors,
.m-menu .upimg,
.m-menu .rename{
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-left: 5px;
}

.m-menu .clear{
    background:url(../img/clear.png) no-repeat scroll 0px -2px;;
}

.m-menu .smile{
    background:url(../img/smile.png) no-repeat scroll 0px 0px;
}

.m-menu .send{
    background:url(../img/send.png) no-repeat scroll -4px -1px;
}

.m-menu .scissors{
    background:url(../img/scissors.png) no-repeat scroll 0px 0px;
}

.m-menu .rename{
    background:url(../img/rename.png) no-repeat scroll 0px 0px;
}

.m-menu .upimg{
    background:url(../img/upimg.png) no-repeat scroll 0px -3px;
}

.m-menu .upimg input{
    position: absolute;
    z-index: -1;
    height: 24px;
    width: 24px;
}

/*发送消息*/
.m-ipt textarea{
    width: 100%;
    border: none;
    color: #4A4A4A;
    height: 80px;
}